# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env/
.venv/
venv/
env/

# Conda
.conda/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Files
*.pdf
*.zip
weights/
videos/
gifs/
*.h5f*
*.mp4
__pycache__/
.ipynb_checkpoints/